In [1]:
print("hi")

hi

In [2]:
name = "john ' "

In [3]:
name

'john'

In [4]:
name = 'john " '

In [5]:
name

'john'

In [6]:
name = """My name is John
Iam from usa"""

In [7]:
name

'My name is John\nIam from usa'

In [8]:
id(name)

1498203897040

In [9]:
country = "USA"

In [10]:
id(country)

1498204190320

In [11]:
name = "John"
name1 = 'John'
name2 = """John
John"""
age = str()

In [13]:
str(123)

'123'

In [14]:
age = 19

In [15]:
type(age)

int

In [16]:
age = str(age)

In [17]:
type(age)

str

In [20]:
age = int(input("age: "))

In [21]:
type(age)

int

In [22]:
first_name = "Alian"
last_name = "Brown"

In [24]:
print(first_name + " " + last_name)

Alian Brown

In [25]:
print(first_name + " " + last_name + " " + " LLL")

Alian Brown  LLL

In [26]:
print("*"*20)

********************

In [27]:
name = "John"

In [28]:
print(name*100)

JohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohnJohn

In [29]:
print("John\t19") ## tab

John	19

In [30]:
print("John\n19") ## new line

John
19

In [31]:
print("John\n\t19")

John
	19

In [32]:
print("John\r19")

19hn

In [34]:
print("Hello\rLLLLL")

LLLLL

In [44]:
print("Joh\bn\b\bSmith")

JSmith

In [48]:
print("Hello \"")

Hello "

In [49]:
print('Hello \'')

Hello '

In [53]:
ord("A") ## to ascii

65

In [54]:
len("JOHN")

4

In [58]:
len("  JOH%&N ")

9

In [60]:
chr(65) ## to char

'A'

In [61]:
## Indexing

## Indexing

In [69]:
string = "Uzbekistan Uzbekistan J" ## immutuble

In [63]:
string[0]

'U'

In [64]:
string[1]

'z'

In [65]:
string[9]

'n'

In [70]:
string[-1]

'J'

In [71]:
string[len(string)-1]

'J'

In [72]:
string[-len(string)]

'U'

-5 -4 -3 -2 -1
H E L L O
0 1 2 3 4

In [73]:
st = "HELLO"

In [74]:
st[5]

IndexError: string index out of range

## Slicing

In [75]:
string = "MAAB INNOVATION"

In [78]:
string[0:4] # starting ni qabul qiladi # ending ni qabul qilmaydi

'MAAB'

In [79]:
string[5:15]

'INNOVATION'

In [80]:
string[5:]

'INNOVATION'

In [81]:
string[0:]

'MAAB INNOVATION'

In [82]:
id(string)

1498210142704

In [84]:
another_string = string[0:]

In [85]:
id(another_string)

1498210142704

In [86]:
string

'MAAB INNOVATION'

In [89]:
string[5:len(string)]

'INNOVATION'

In [94]:
another_string = string[:5] + string[5:]

In [95]:
another_string

'MAAB INNOVATION'

In [96]:
id(another_string)

1498203798256

In [97]:
id(string)

1498210142704

In [98]:
string[0] = "N"

TypeError: 'str' object does not support item assignment

In [99]:
listt = ['M', 'A', 'A', 'B']

In [100]:
listt[0] = 'N'

In [101]:
listt

['N', 'A', 'A', 'B']

In [102]:
string

'MAAB INNOVATION'

In [103]:
string[::-1]

'NOITAVONNI BAAM'

In [104]:
string[::]

'MAAB INNOVATION'

In [105]:
another_string = string[::]

In [106]:
print(another_string)

MAAB INNOVATION

In [107]:
id(another_string)

1498210142704

In [108]:
id(string)

1498210142704

In [110]:
string[-13:-5]

'AB INNOV'

In [112]:
string[-len(string):]

'MAAB INNOVATION'

In [115]:
string[0:4:2]

'MA'

In [116]:
numbers = "12345" * 5

In [117]:
numbers

'1234512345123451234512345'

In [131]:
numbers = [i for i in range(1, 101)]

In [128]:
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [130]:
numbers[1::2]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [132]:
string

'MAAB INNOVATION'

In [135]:
string[::-3]

'NTOIA'

## String methods

In [154]:
string.lower().title().capitalize()

'Maab innovation'

In [139]:
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [140]:
string

'MAAB INNOVATION'

In [141]:
string.count('N')

3

In [151]:
name = "nurmatov nakhmatjon"

In [145]:
name.lower().count("n")

2

In [152]:
name.islower()

True

## Formating

In [156]:
year = int(input("Nechanchi yilsiz: "))
age = 2024-year
country = "USA"
print(f"{age} yoshdasiz. {year} sizning yilingiz. Davlatingiz {country}")

20 yoshdasiz. 2004 sizning yilingiz. Davlatingiz USA

In [161]:
age = 20
country = "UK"
name ="John"
lname = "Brown"
string = f"{age ** 2}, {country.lower()}, {name}, {lname}"
print(string)

400, uk, John, Brown

In [167]:
age = 20
country = "UK"
name ="John"
lname = "Brown"
string = '{davlat}, {yosh}, {ism}, {familiya}'.format(davlat=country, ism=name,  familiya=lname, yosh=age)
print(string)

UK, 20, John, Brown

In [170]:
age = 20
country = "UK"
name ="John"
lname = "Brown"
print('{davlat}, {yosh}'.format({'davlat': country, 'yosh': age}))
# print(string)

KeyError: 'davlat'

In [173]:
age = 20
country = "UK"
name ="John"
lname = "Brown"
print('{country}, {yosh}'.format(**{'country': country, 'yosh': age}))

UK, 20