## tuple excercises

In [6]:
#1 Create a tuple literal named cardinal_numbers that holds the strings "first", "second", and "third", in that order
cardinal_numbers = 'first', 'second', 'third'
type(cardinal_numbers)

tuple

In [7]:
#2 Using index notation and print(), display the string at index 1 in cardinal_numbers
print(cardinal_numbers[1])

second

In [15]:
#3 In a single line of code, unpack the values in cardinal_numbers into three new strings 
# named position1, position2, and position3. Then print each value on a separate line.

position1, position2, position3 = cardinal_numbers
print(f"{position1},\n{position2},\n{position3}")

first,
second,
third

In [17]:
#4 Using tuple() and a string literal, create a tuple called my_name that contains the letters of your name
my_name = tuple("Ilyos")
my_name

('I', 'l', 'y', 'o', 's')

In [18]:
#5 Check whether the character "x" is in my_name using the in keyword
"x" in my_name

False

In [19]:
#6 Create a new tuple containing all but the first letter in my_name using slice notation
not_my_name = my_name[1:]
not_my_name

('l', 'y', 'o', 's')

## dictionary excercises

In [20]:
#1 Create a dictionary named student with the keys "name", "age", and "courses". 
#The values should be your name, your age, and a list of your courses

student = {
    "name": "Ilyosjon",
    "age":37,
    "courses": ['SQL', 'Python', 'Apache Hadoop', 'Apache Airflow', 'Apache Kafka']
}
student

{'name': 'Ilyosjon',
 'age': 37,
 'courses': ['SQL',
  'Python',
  'Apache Hadoop',
  'Apache Airflow',
  'Apache Kafka']}

In [21]:
#2 access 'name' key
student['name']

'Ilyosjon'

In [22]:
#3 Add a new key-value pair to the student dictionary with the key
# "grade" and a value of your grade in one of the courses
student['grade']= {
    'Apache Hadoop': 100,
    'Apache Airflow':99,
    'Apache Kafka':98
}

In [23]:
student

{'name': 'Ilyosjon',
 'age': 37,
 'courses': ['SQL',
  'Python',
  'Apache Hadoop',
  'Apache Airflow',
  'Apache Kafka'],
 'grade': {'Apache Hadoop': 100, 'Apache Airflow': 99, 'Apache Kafka': 98}}

In [31]:
type(student['grade'])

dict

In [32]:
#4 Update the value associated with the key "age" in the student dictionary to a new value (e.g., next year's age)
student["age"]=38
student

{'name': 'Ilyosjon',
 'age': 38,
 'courses': ['SQL',
  'Python',
  'Apache Hadoop',
  'Apache Airflow',
  'Apache Kafka'],
 'grade': {'Apache Hadoop': 100, 'Apache Airflow': 99, 'Apache Kafka': 98}}

In [33]:
#5 Remove the key "courses" from the student dictionary.
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [35]:
student.pop('courses')

['SQL', 'Python', 'Apache Hadoop', 'Apache Airflow', 'Apache Kafka']

In [36]:
student

{'name': 'Ilyosjon',
 'age': 38,
 'grade': {'Apache Hadoop': 100, 'Apache Airflow': 99, 'Apache Kafka': 98}}

In [38]:
#6 Print the number of key-value pairs in the student dictionary using len()
len(student)

3