### functions basic exercises

In [1]:
#Write a function greet that takes a name as an argument and prints "Hello, [name]!".
def greet(name):
    print('hello',name)
greet('ilyos')

hello ilyos

In [2]:
#Write a function sum_numbers that takes two numbers as arguments and returns their sum.
def sum_num(a,b):
    return a+b
sum_num(1,3)

4

In [3]:
#Write a function square that takes a number as an argument and returns its square.
def square(n):
    return(n**2)

square(4)

16

In [6]:
#Write a function list_of_squares that takes a list of numbers and returns a new list with the squares of those numbers.
def list_of_squares(items):
    squares = []
    for item in items:
        squares.append(item**2)
    return(squares)

list_of_squares([1,2,3,4])

[1, 4, 9, 16]

In [8]:
#Write a function factorial that takes a number as an argument and returns its factorial.
def factorial(number):
    if number <2:
        return 1
    else:
        return number*factorial(number-1)

factorial(5)

120

In [11]:
#Write a function is_palindrome that takes a string and returns True if the string is a palindrome and False otherwise.
def is_palindrome(string):
    if string == string[::-1]:
        return True
    else:
        return False

is_palindrome('tenet')

True

In [31]:
(lambda x : x * 2)(3)

6

In [19]:
#Write a lambda function that takes a number and returns its square. Assign it to a variable named square_lambda.
square_lambda = (lambda x: x**2)
square_lambda(4)

16

In [20]:
#Write a lambda function that takes two numbers and returns their sum. Assign it to a variable named sum_lambda
sum_lambda = (lambda x,y: x+y)
sum_lambda(2,3)

5

In [33]:
#Use a lambda function with the filter function to filter out even numbers from a list of numbers.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x%2==0, numbers))

[2, 4, 6, 8, 10]

In [41]:
#Use a lambda function with the map function to convert a list of strings into a list of their lengths.
words = ["apple", "banana", "cherry"]
list(map(lambda x: len(x), words))

[5, 6, 6]

In [49]:
#Use a lambda function with the sorted function to sort a list of tuples based on the second element of each tuple.
tuples = [(1, 'one'), (3, 'two'), (5, 'three')]
list(sorted(tuples, key=lambda x: x[1]))

[(1, 'one'), (5, 'three'), (3, 'two')]

In [55]:
#Write a lambda function that takes a number and returns "Even" if the number is even and "Odd" if the number is odd. 
#Assign it to a variable named even_odd_lambda.
even_odd_lambda = (lambda x: 'Even' if x%2 == 0 else 'Odd')
even_odd_lambda(4)

'Even'

In [56]:
#Write a function fibonacci that takes a number n and returns a list of the first n Fibonacci numbers.
def fib(n):
    if n<3:
        return 1
    else:
        return fib(n-1)+fib(n-2)
fib(5)

5

In [102]:
#Write a function is_prime that takes a number and returns True if the number is prime and False otherwise.
def is_prime(n):
    for i in range(2,n):
        # print(n%i)
        if n%i == 0:
            return False
            break
    return True

is_prime(31)

True

In [105]:
#Write a function list_of_primes that takes a number n and returns a list of all prime numbers up to n
def list_of_primes(num):
    return [n for n in range(2, num+1) if is_prime(n)]
list_of_primes(30)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [109]:
#Write a lambda function that takes a number and returns 
#"Fizz" if it is divisible by 3, "Buzz" if it is divisible by 5, and 
#"FizzBuzz" if it is divisible by both. Assign it to a variable named fizzbuzz_lambda
fizzbuzz_lambda = lambda a, b, c: a if x%3 == 0 and x%5==0 else b if x%3 == 0 else c if x%5 == 0
fizzbuzz_lambda(15)

SyntaxError: expected 'else' after 'if' expression (2911991175.py, line 4)